*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Whole Style */
body{
    font-family: "Roboto",sans-serif;   
    background-color: #efefef; 
}

/* Navigation */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px 75px;
    z-index: 10000;
}

/* Logo */
nav .logo{
    position: relative;
    margin-top: 20px;
}
nav .logo img{
    cursor: pointer;
    width: 110%;
}
@media screen and (max-width: 1200px){
    nav .logo img{
        width: 90%;
    }
}
nav .logo img:hover{
    -webkit-filter: drop-shadow(5px 5px 5px #000000);
    filter: drop-shadow(5px 5px 5px #000000);
}
nav .logo img:active{
    -webkit-filter: drop-shadow(10px 10px 10px #000000);
    filter: drop-shadow(10px 10px 10px #000000);
}

/* Nav Items */
nav ul{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav li{
    position: relative;
    list-style: none;
    margin-right: 32px;
}
nav li:nth-last-of-type(1){
    margin: 0;
}
.nav-menu li a{
    position: relative;
    color: #fff;
    font-size: 20px; 
    font-weight: 400;
    text-decoration: none;
}
@media screen and (max-width: 1200px){
    .nav-menu li a{
        font-size: 16px; 
    }
}
.nav-menu li a:hover{
    text-shadow: 2px 2px 18px #FFF;
    font-weight: 600;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    transition: 300ms ease-in;
}
.nav-menu li a:active{
    text-shadow: 2px 2px 18px #000000;
    font-weight: 800;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #FFF;
    -webkit-text-fill-color: transparent;
}
/* hamburger */
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: #FFF;
    border-radius: 15px;
}
@media(max-width:850px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: 100%;
        top: 70px;
        /* gap: 0; */
        flex-direction: column;
        background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.8) 100%);
        width: 100%;
        text-align: center;
        justify-content: space-evenly;
        transition: 300ms;
    }
    .nav-item{
        margin:0;
        padding:20px;
        width: 100%;
    }
    .nav-item:nth-last-of-type(1){
        margin:0;
        padding: 20px;
        width: 100%;
    }
    .nav-item:hover{
        background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.6) 100%);
        width: 100%;
    }
    .nav-menu.active{
        left: 0;
    }
}

/* --------Header--------- */

.header-container{
    position: relative;
    height: 900px;
    width: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.5) 100%), url(./img/Background-2.jpg);
    margin-top: 0;
    background-position: center;
    background-size: cover;
}

/* Hero Section */
.header-container .hero-container{
    display: flex;
    width: 750px;
    height: 330px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 130px;
}
.header-container .hero-contant{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 230px;
    color: #fff;
}
.header-container .hero-contant h1{
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 105%;
    width: 750px;
    height: 130px;
}
.header-container .hero-contant p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    margin-top: 10px;
    width: 580px;
    height: 72px;
    flex-shrink: 0;
    margin-left: 0;
}

/* Call Section */
.header-container .call-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    color: #fff;
}
.header-container .call-section h2{
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
}
.header-container .call-section button{
    border-radius: 50px;
    border: 6px solid #000;
    background: rgba(0, 0, 0, 0.30);
    width: 250px;
    height: 65px;
    flex-shrink: 0;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    color: #fff;
}
.header-container .call-section button:hover{
    text-shadow: 2px 2px 4px #000000;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
}
.header-container .call-section button:active{
    text-shadow: none;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
}


/* ---------Services Section---------- */

.services{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
/* Services header */
.services-header h1{
    color: #C1272D;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-transform: uppercase;  
}
.services-header div{
    margin: 0 auto;
    width: 125px;
    height: 10px;
    background-color: #C1272D;
}
/* Swiper Slider */
.slide-container{
    max-width: 1180px;
    width: 100%;
    /* background-color: gray; */
    padding: 70px 0;
    margin: 10px;
}
.slide-content{
    margin: 30px;
    padding: 20px;
    overflow: hidden;
}
.card{
    /* width: 250px; */
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.5) 100%);
    background-color: #C1272D;
    border-radius: 15px;
    box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.25);
}
.card:hover{
    box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.45);
    background: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.02) 50%, rgba(0,0,0,0.5) 100%);
    background-color: #C1272D;
    transition:100ms ease-in;
}
.image-content, 
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-content{
    position: relative;
    row-gap: 5px;
}
.card-image{
    position: relative;
    height: 300px;
    width: 245px;
    /* top: 0;
    left: 0; */
    border-radius: 15px 15px 0 0;
    background-color: #C1272D;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    display: block;
}
.name{
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
    text-transform: uppercase;
    margin-top: 20px;
}
.button{
    border: 1px black solid;
    background: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.02) 50%, rgba(0,0,0,0.5) 100%);
    padding: 8px 16px;
    font-size: 16px;
    color: #FFF;
    margin: 14px;
    cursor: pointer;
    transition: all 100ms ease-in;
}
.button:hover{
    text-shadow: 2px 2px 4px #000000;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
}
.button:active{
    text-shadow: none;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
}

.slide-container .swiper-navBtn{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.8) 100%);
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.45);
    color: #000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.slide-container .swiper-navBtn::after,
.slide-container .swiper-navBtn::before{
    font-size: 32px;
}
